In [3]:
# return less no if two no's are even else return greater

def less_if_even(a,b):
    if a%2==0 and b%2==0:
        print('even')
        if a<b:
            return a
        else:
            return b
    else:
        print("odd")
        if a<b:
            return b
        else:
            return a

In [8]:
less_if_even(2,4)

even

2

In [23]:
less_if_even(7,5)

odd

7

In [25]:
def less_if_even1(a,b):
    if a%2==0 and b%2==0:
        print('even')
        return min(a,b)
    else:
        print("odd")
        return max(a,b)

In [26]:
less_if_even1(2,4)

even

2

In [28]:
less_if_even1(7,5)

odd

7

In [29]:
def same_letter_check(a):
    word=a.split()
    return word

In [30]:
same_letter_check("suma santosh")

['suma', 'santosh']

In [39]:
# Return TRue if two words in a string starts with same lettr else false

def same_letter(a):
    word=a.split()
    
    first_w=word[0]
    second_w=word[1]
    
    return first_w[0]==second_w[0]

In [40]:
same_letter("suma santosh")

True

In [45]:
def same_letter1(a):
    word=a.split()
    
    return word[0][0]==word[1][0]

In [46]:
same_letter1("suma Santosh") # s S small  cap

False

In [47]:
same_letter1('dwd hsn')

False

In [48]:
def same_letter2(a):
    word=a.lower().split()
    
    return word[0][0]==word[1][0]

In [49]:
same_letter2("suma Santosh")

True

In [50]:
def same_letter3(a):
    word=a.upper().split()
    
    return word[0][0]==word[1][0]

In [51]:
same_letter3("suma Santosh")

True

In [52]:
# return True: if 2 no sum=20 or one no is 20, else false

def makes_20(a,b):
    if a==20 or b==20 or a+b==20:
        return True
    else:
        return False

In [53]:
makes_20(10,20)

True

In [54]:
makes_20(10,30)

False

In [55]:
makes_20(20,20)

True

In [57]:
def makes1_20(a,b):
    return a==20 or b==20 or a+b==20

In [58]:
makes1_20(10,20)

True

In [59]:
makes1_20(10,30)

False

In [60]:
def makes2_20(a,b):
    if a==20 and b==20:
        return False
    elif a==20 or b==20 or a+b==20:
        return True
    else:
        return False

In [61]:
makes2_20(10,20)

True

In [62]:
makes2_20(20,20)

False

In [87]:
# capitalize 1st and 4th letter of a string using upper()

def old_macdonald(text):
    
    first_letter=text[0]
    inbetween=text[1:3]
    fourth_letter=text[3]
    rest=text[4:]
    
    
    return first_letter.upper()+inbetween+fourth_letter.upper()+rest

In [88]:
old_macdonald('oldmacdonald')

'OldMacdonald'

In [91]:
# capitalize 1st and 4th letter of a string using capitalize

def old_macdonald(text):
    
    first_half=text[0:3]
    rest=text[3:]
    
    
    return first_half.capitalize()+rest.capitalize()

In [92]:
old_macdonald('oldmacdonald')

'OldMacdonald'

In [95]:
# Given a sentence return a sentence with word revers= i am home== home am i
# reverse a sentence

def reverse_sent(sent):
    word=sent[::-1]
    return word

In [96]:
reverse_sent('i am home')

'emoh ma i'

In [107]:
def reverse_sent1(sent):
    word=sent.split()
    
    for i in word:
        a=word[::-1]
    
    return a

In [108]:
reverse_sent1('i am home')

['home', 'am', 'i']

In [109]:
def reverse_sent1(sent):
    a=sent.split()
    a=a[::-1]
    
    
    return a

In [110]:
reverse_sent1('i am home')

['home', 'am', 'i']

In [115]:
mylist=['a','b','c','d']
mylist

['a', 'b', 'c', 'd']

In [116]:
'--'.join(mylist)

'a--b--c--d'

In [118]:
'.'.join(mylist)

'a.b.c.d'

In [121]:
def reverse_sent1(sent):
    a=sent.split()
    a=a[::-1]
    a=" ".join(a)
    
    return a

In [122]:
reverse_sent1('i am home')

'home am i'

In [142]:
# return 10 within 100 or 200,

def almost_10(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)

In [143]:
almost_10(100)

True

In [144]:
almost_10(101)

True

In [152]:
almost_10(211)

False

In [176]:
# retur true if 3 exists next to 3

def has_33(lst):
    for i in range(0, len(lst)-1):
        if lst[i]==3 and lst[i+1]==3:
            return True
    return False

In [177]:
has_33([1,3,3])

True

In [178]:
has_33([3,1,3])

False

In [190]:
def has1_33(lst):
    for i in range(0,len(lst)-1):
        if lst[i:i+2]==[3,3]:
            return True
        
    return False

In [191]:
has1_33([1,3,3])

True

In [192]:
has1_33([3,1,3])

False

In [223]:
# return a string, where every character is 3 times character should appear

def paper_dol(text):
    result=''
    for i in text:
        result +=i*3
    return result

In [225]:
paper_dol("abcde")

'aaabbbcccdddeee'

In [242]:
# Blackjack: a,b,c sum<=21=> return sum, if sum>21, n if a or b or c =11 reduce sum to 10, if not return 'BUST'  

def blackjack(a,b,c):
    sum1=a+b+c
    if 1<=(a and b and c)<=11:
        if sum1<=21:
            return sum1
        elif a==11 or b==11 or c==11:
            sum1=sum1-10
        else: 
            if sum1>21:
                print('BUST')
    return sum1

In [243]:
blackjack(5,4,11)

20

In [244]:
blackjack(5,6,11)

12

In [245]:
blackjack(6,6,11)

13

In [246]:
blackjack(7,8,9)

BUST

24

In [256]:
def blackjack1(a,b,c):
    if sum([a,b,c])<21:
        return sum([a,b,c])
    elif 11 in {a,b,c} and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [257]:
blackjack1(5,4,11)

20

In [258]:
blackjack1(5,6,11)

12

In [259]:
blackjack1(6,6,11)

13

In [260]:
blackjack1(7,8,9)

'BUST'

In [276]:
def summer_69(arr):
    result=0
    add=True
    
    for i in arr:
        while add:
            if i!=6:
                result+=i
                break
            else:
                add=False
        while not add:
            if i!=9:
                break
            else:
                add=True
    return result

In [277]:
summer_69([1,3,5,])

9

In [278]:
summer_69([4,5,6,7,8,9])

9

In [279]:
summer_69([6,7,8,9,1,3,4,2])

10

In [282]:
# Spy Game :return True if a list contains 0,0,7

def spy_game(lst):
    
    code=[0,0,7,'x']
    
    for num in lst:
        if num==code[0]:
            code.pop(0)
    return len(code)==1

In [283]:
spy_game([1,2,3,4,5])

False

In [285]:
spy_game([1,0,0,7,5,6,7])

True

In [286]:
spy_game([1,2,0,4,0,6,7])

True

In [302]:
#check if num is prime

num=5

if num>1:
    for i in range(2,num):
        if num%i==0:
            print(num, "not prime")
            break
        else:
            print(num,"prime")

5 prime
5 prime
5 prime

In [316]:
num = 4

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
        else:
            print(num,"is a prime number")
       
 # if input number is less than or equal to 1, it is not prime
else:
    print(num,"is not a prime number")

4 is not a prime number
2 times 2 is 4

In [6]:
def count_prime(num):
    
    if num<2:
        return 0
    
    prime=[2]
    x=3
    
    while x<=num:
        for y in range(3,x,2):
            if x%y==0:
                x+=2
                break
        else:
            prime.append(x)
            x+=2
    print(prime)
    return len(prime)

In [7]:
count_prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [340]:
# check if no is prime

num=10
x=3
if num<2:
    print('not prime')

while x<=num:
    for i in range(3,x,2):
        if x%i==0:
            print(x,'not prime')
            x+=2
            break
    else:
        print(x, 'prime')
        x+=2

3 prime
5 prime
7 prime
9 not prime

In [343]:
# count no of prime numbers

num=10
x=3
if num<2:
    print('not prime')
count=2

while x<num:
    for i in range(3,x,2):
        if x%i==0:
            print(x,'not prime')
            x+=2
            break
    else:
        count+=1
        print(x, 'prime')
        x+=2
print(count)

3 prime
5 prime
7 prime
9 not prime
5

In [14]:
def count_prime1(num):
    if num<2:
        return 0
    
    prime=[2]
    x=3
    
    while x<=num:
        for y in range(3,x,2):
            if x%y==0:
                x+=2
                break
        else:
            prime.append(x)
            x+=2
    print(prime)
    return len(prime)

In [16]:
count_prime1(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [12]:
def square(num):
    return num**2

my_num=[1,2,3,4]

In [17]:
for item in map(square, my_num):
    print(item)

1
4
9
16

In [18]:
list(map(square,my_num))

[1, 4, 9, 16]

In [19]:
def slicer(string):
    if len(string)%2==0:
        return 'Even'
    else:
        return string[0]

In [22]:
my_string=['andy', 'eve','ten']
           
for i in map(slicer, my_string):
           print(i)

Even
e
t

In [23]:
def check_even(num):
    return num%2==0

my_num=[1,2,3,4,5,6]

In [24]:
list(filter(check_even, my_num))

[2, 4, 6]

In [27]:
for i in filter(check_even, my_num):
    print(i)

2
4
6

In [28]:
def square(num):
    return num**2

In [29]:
square(5)

25

In [34]:
square1 = lambda num: num**2

In [35]:
square1(6)

36

In [36]:
list(map(lambda num: num**2, my_num))

[1, 4, 9, 16, 25, 36]

In [40]:
list(filter(lambda num: num%2==0,my_num))

[2, 4, 6]

In [42]:
names=['andy', 'eve', 'Ten']

list(map(lambda name:name[0], names))

['a', 'e', 'T']

In [60]:
#  scope LEGB: local,enclosing, global, 

# Global
name='abc'

def greet():
    
    #Enclosing
    name='edf'
    
    def hello():
        
        # LOCAL
        # name='fgh'
        print('hello ' + name)
        
    hello()

In [61]:
greet()

hello edf

In [70]:
x=50

def func(x):
    print(x)
    
    x=200
    print('new value', x)

In [71]:
print(x)

50

In [72]:
func(x)

50
new value 200

In [74]:
x=50

def func():
    global x
    print(x)
    
    x=200
    print('new value', x)

In [75]:
print(x)

50

In [76]:
func()

50
new value 200

In [77]:
print(x)

200

In [78]:
# v= 4/3 pie r*r*r

def vol(rad):
    v=(4/3)*3.4*rad**3
    return v

In [79]:
vol(3)

122.39999999999999

In [80]:
# check num in given range

def ran_check(num,low, high):
    if num>=low and num<=high:
        return num

In [82]:
ran_check(12,10,20)

12

In [83]:
ran_check(5,1,10)

5

In [84]:
ran_check(2,10,15)

In [85]:
def multiply(numbers):
    
    total=1
    for i in numbers:
        total*=i
    return total

In [87]:
multiply([1,2,3,-4])

-24

In [89]:
def palindrome(string):
    if string==string[::-1]:
        return 'palindrome'

In [91]:
palindrome('madam')

'palindrome'

In [92]:
palindrome('suma')

In [99]:
# The quick brown fox jumps over the lazy dog

import string


def ispangram(str1, alphabet=string.ascii_lowercase):
    return (str1.lower())>=alphabet

In [100]:
ispangram('The quick brown fox jumps over the lazy dog')

True

In [94]:
def pangram(str1):
    a='abcdefijklmnopqrstuvw'
    
    for char in a:
        if char not in str1:
            return False
    return True

In [96]:
pangram('The quick brown fox jumps over the lazy dog')

True

In [101]:
import string 
  
alphabet = set(string.ascii_lowercase) 
  
def ispangram(string): 
    return set(string.lower()) >= alphabet

In [102]:
ispangram('The quick brown fox jumps over the lazy dog')

True

In [103]:
ispangram('The quick brown  dog')

False

In [110]:
def no_uplow_char(str1):
    upp=0
    low=0
    
    for char in str1:
        if char.isupper():
            upp+=1
        else:
            low+=1
    return upp,low

In [111]:
no_uplow_char('Suma')

(1, 3)

In [112]:
#[1 1 1 2 2 2 3 3 3]= [1,2,3]

def unique(lst1):
    lst2=[]
    
    for i in lst1:
        if i not in lst2:
            lst2.append(i)
    return lst2

In [113]:
unique([1,1,1,2,2,2,3,3,3])

[1, 2, 3]