In [1]:
#KEYWORDS
import keyword
print(keyword.kwlist)
print("total number of keywords:", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total number of keywords: 35

In [ ]:
#comments-indentation-and-statements
#comment
""" triple quotes""" #or
""""

In [6]:
# DocString in python
def double(num):
    """double the num"""
    return 2*num

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(double.__doc__)? (<ipython-input-6-fad663bcab85>, line 6)

In [ ]:
print double.__doc__

In [14]:
#indentation
for i in range (10):
    print (i)
if True:
    print("yes")
a=1+3+5+\
7+9+\
8+9
print(a)

0
1
2
3
4
5
6
7
8
9
yes
42

In [18]:
#variables-and-data-types-in-python
a=10
print(a, "is of type", type(a))
b=1+2j
print(b, "is of type", type(b))
print(b,"is a complex nuber?")
print(isinstance(1+2j, complex))

10 is of type <class 'int'>
(1+2j) is of type <class 'complex'>
(1+2j) is a complex nuber?
True

In [22]:
#Python Dictionary
d={'s1':'suma', 's2':'santosh', 's3':'sakshar'}
print (d['s1'])

suma

In [27]:
#Conversion between Datatypes
a=5
a1=float(a)
print(a1)
a2=str(a)
print(a2)
b=[1,2,3,4]
b1=type(b)
print(b1)
c=set(b)
c1=type(c)
print(c1)

5.0
5
<class 'list'>
<class 'set'>

# OUTPUT

In [ ]:
# Python Input and Output
print("hello world")

In [5]:
a=10
print("the value of a is",a)
print("thevalue of a is "+ str(a))

the value of a is 10
thevalue of a is 10

In [7]:
a=30; b=40
print("the value of a is {} and value of b is {}".format(a,b))

the value of a is 30 and value of b is 40

In [9]:
print("hello {name}, {greetings}".format(name="santhu", greetings="Good morning"))

hello santhu, Good morning

In [10]:
print("{0},{1},{other}".format("suma", "saksha", other="Huddar"))

suma,saksha,Huddar

In [11]:
name=input("Enter a name:")
print(name)

Enter a name:suma
suma

In [24]:
print(2**3**4)

2417851639229258349412352

In [23]:
print(2**3)
print(8**4)

8
4096

In [14]:
2**3

8

In [15]:
2**3

8

In [16]:
3**4

81

In [17]:
81**2

6561

In [25]:
3**4

81

In [26]:
2**81

2417851639229258349412352

In [28]:
# INPUT
name=input("enter your name:")
print(name)

enter your name:suma
suma

In [31]:
# operators
a=10;b=20
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a**2)
print(a//3) #floor operator

30
-10
200
10
100
3

In [51]:
a=20
a +=10
print(a)
a -=10
print(a)
a *=10
print(a)
a /=10
print(a)
a **=10
print(a)
a=27
a %=2
print(a)
a=22
a //=10
print(a)
a==a
a>a
a<a
a<<a

30
20
200
20.0
10240000000000.0
1
2

8

In [58]:
#Special Operators
#Identity Operators
# is #is not
a=2
b=2
print(a is b)
l1=[1,2,3]
l2=[1,2,3]
print(l1 is l2)
c1="suma"
c2="suma"
print(c1 is c2)
print(c1!=c2)
print(c1==c2)

True
False
True
False
True

In [59]:
#MemberShip Operators
#in and not in are the membership operators in Python.
#They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).
a=[1,2,3,4]
print(1 in a)

True

In [65]:
c={1:"a", 2:"b", "g":"h"} #{key:value}
print(1 in c )
print("a" in c)
print("g" in c)

True
False
True